################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################
*/obj/
*/bin/
*.cache
*.assets.cache

/.vs/VL.OnlineShop/v15
/VL.OnlineShop/bin/Debug/netcoreapp2.2/VL.OnlineShop.runtimeconfig.json
/VL.OnlineShop/bin/Debug/netcoreapp2.2/VL.OnlineShop.runtimeconfig.dev.json
/VL.OnlineShop/bin/Debug/netcoreapp2.2/VL.OnlineShop.pdb
/VL.OnlineShop/bin/Debug/netcoreapp2.2/VL.OnlineShop.dll
/VL.OnlineShop/bin/Debug/netcoreapp2.2/VL.OnlineShop.deps.json
/VL.OnlineShop.Cmd/bin/Debug/netcoreapp2.2/VL.OnlineShop.Cmd.runtimeconfig.json
/VL.OnlineShop.Cmd/bin/Debug/netcoreapp2.2/VL.OnlineShop.Cmd.runtimeconfig.dev.json
/VL.OnlineShop.Cmd/bin/Debug/netcoreapp2.2/VL.OnlineShop.Cmd.pdb
/VL.OnlineShop.Cmd/bin/Debug/netcoreapp2.2/VL.OnlineShop.Cmd.dll
/VL.OnlineShop.Cmd/bin/Debug/netcoreapp2.2/VL.OnlineShop.Cmd.deps.json
/VL.OnlineShop/obj/Debug/netcoreapp2.2/VL.OnlineShop.csproj.CoreCompileInputs.cache
/VL.OnlineShop/obj/Debug/netcoreapp2.2/VL.OnlineShop.csproj.FileListAbsolute.txt
/VL.OnlineShop/obj/Debug/netcoreapp2.2/VL.OnlineShop.csprojAssemblyReference.cache
/VL.OnlineShop/obj/VL.OnlineShop.csproj.nuget.cache
/VL.OnlineShop/obj/Debug/netcoreapp2.2/VL.OnlineShop.pdb
/VL.OnlineShop/obj/Debug/netcoreapp2.2/VL.OnlineShop.dll
/VL.OnlineShop/obj/Debug/netcoreapp2.2/VL.OnlineShop.AssemblyInfoInputs.cache
/VL.OnlineShop/obj/Debug/netcoreapp2.2/VL.OnlineShop.AssemblyInfo.cs
/VL.OnlineShop.Cmd/obj/Debug/netcoreapp2.2/VL.OnlineShop.Cmd.AssemblyInfo.cs
/VL.OnlineShop.Cmd/obj/Debug/netcoreapp2.2/VL.OnlineShop.Cmd.AssemblyInfoInputs.cache
/VL.OnlineShop.Cmd/obj/Debug/netcoreapp2.2/VL.OnlineShop.Cmd.csproj.CoreCompileInputs.cache
/VL.OnlineShop.Cmd/obj/Debug/netcoreapp2.2/VL.OnlineShop.Cmd.csproj.FileListAbsolute.txt
/VL.OnlineShop.Cmd/obj/Debug/netcoreapp2.2/VL.OnlineShop.Cmd.csprojAssemblyReference.cache
/VL.OnlineShop.Cmd/obj/Debug/netcoreapp2.2/VL.OnlineShop.Cmd.dll
/VL.OnlineShop.Cmd/obj/Debug/netcoreapp2.2/VL.OnlineShop.Cmd.pdb
/VL.OnlineShop.Cmd/obj/VL.OnlineShop.Cmd.csproj.nuget.cache
/ApplicationCore/obj/Debug/netstandard2.0/ApplicationCore.AssemblyInfoInputs.cache
/ApplicationCore/obj/Debug/netstandard2.0/ApplicationCore.AssemblyInfo.cs
/ApplicationCore/obj/Debug/netstandard2.0/ApplicationCore.csproj.CoreCompileInputs.cache
/ApplicationCore/obj/Debug/netstandard2.0/ApplicationCore.csprojAssemblyReference.cache
/Infrastructure/obj/Debug/netstandard2.0/Infrastructure.AssemblyInfo.cs
/Infrastructure/obj/Debug/netstandard2.0/Infrastructure.AssemblyInfoInputs.cache
/Infrastructure/obj/Debug/netstandard2.0/Infrastructure.csproj.CoreCompileInputs.cache
/Infrastructure/obj/Debug/netstandard2.0/Infrastructure.csprojAssemblyReference.cache
/VL.OnlineShop.WebAPI/obj/Debug/netcoreapp2.2/VL.OnlineShop.WebAPI.AssemblyInfo.cs
/VL.OnlineShop.WebAPI/obj/Debug/netcoreapp2.2/VL.OnlineShop.WebAPI.AssemblyInfoInputs.cache
/VL.OnlineShop.WebAPI/obj/Debug/netcoreapp2.2/VL.OnlineShop.WebAPI.csproj.CoreCompileInputs.cache
/VL.OnlineShop.WebAPI/obj/Debug/netcoreapp2.2/VL.OnlineShop.WebAPI.csprojAssemblyReference.cache
/VL.OnlineShop.WebAPI/obj/Debug/netcoreapp2.2/VL.OnlineShop.WebAPI.RazorAssemblyInfo.cache
/VL.OnlineShop.WebAPI/obj/Debug/netcoreapp2.2/VL.OnlineShop.WebAPI.RazorAssemblyInfo.cs
/VL.OnlineShop.WebAPI/obj/Debug/netcoreapp2.2
